*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  font-size:62.5%;
}

body{
    font-family:sans-serif;
    line-height: 1.2;
}
ul li{
  list-style: none;
  margin-bottom: 20px;
}
.nav-items .li .nav-item{
  font-size: 10px;
}
a{
  font-size: 1rem;
  text-decoration: none;
  
  
}
p{
  font-size: 1rem;
  margin-bottom: 0.5em;
  
  
}
h1, h2, h3{
  margin-bottom: 0.2em;
  letter-spacing: 0.10cm;
  font-weight: 90;
}

/*----------------------------------Utility classes------------------------*/

.container{
  max-width: 1500px;
  width: 80%;
  margin: 0 auto;
  
  
}
.cont{
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}

.lg-heading{
  font-size: 2rem;
  
}

.md-heading{
  font-size: 1.5rem;
}

.text-red{
  color: white;
}

.text-light{
  color: white;
}

.text-black{
  color: grey;
}

.text-gray{
  color: grey;
}

.bg-dark{
  background-color: rgb(80, 78, 78);
}

.btn{
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 600px;
  text-transform: uppercase;
  margin: 0.5em 0;
}
 .btn-primary{
  background-color: white;
  border-radius: 2em;
  color: rgb(236, 6, 6);
  margin-top: 20px;
 }
  
 .btn-primary:hover{
  background-color: rgb(212, 186, 186);
 }
  .btn-secondary{
    border: 2px solid red;
    border-radius: 2em;
    color: red;
    background: white;
  }

  .btn-secondary:hover{
    background-color: rgb(205, 158, 158);
  }
 .nav-item{
  font-size: 1.5rem;
 }

 /*------------------------------Header Styling-------------------------------*/

.header{
  position: relative;
    height: 90vh;
    background:  url('../img/architecture-639103_1920.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
    
    
    
    
}

 .navbar{
      
      padding: 0.5rem;
    }



.navbar .logo{
    float: left;
    
    
}
.navbar .nav-items{
    float: right;
    margin-top: 0.5rem;
    
  }
  
  .navbar .nav-item{
    display:inline-block;
    padding: 0.5rem;
    text-transform: uppercase;
    
    
    
    
}

.navbar a:link,
.navbar a:visited{
  color:white;
}

.navbar a{
  padding-bottom: 0.3rem;
}
.navbar a:hover{
  border-bottom: 1px solid white;
}

.navbar::after{
  content:"";
  display: block;
  clear: both;

  /*################################# Header content styling    #########################*/
}

.header-content{
  
  text-align: center;
  
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));


}
.header-content h2{
  text-transform: uppercase;
  font-weight: 200;
}
.header-content p{
  text-transform: uppercase;
}
/*################################   SHOWCASE SECTION STYLING  ###################################*/
.showcase{
  background: white;
  padding: 6rem 0;
}

.row{
  
  height: 200px;
  border: 2px solid rgb(45, 45, 196);
  box-shadow: 0px 0px 20px 0px grey;
  
}
.row1{
  margin-bottom: 4rem;
}
.row2{
  margin-bottom: 4rem;
}
.row3{
  margin-bottom: 4rem;
}
.row4{
  margin-bottom: 4rem;
}
.row5{
  margin-bottom: 4rem;
}
.row6{
  margin-bottom: 4rem;
}
.row7{
  margin-bottom: 4rem;
}


.row1 .img-box, .row2 .text-box{
  float:left;
  width: 50%;
}
.row2 .img-box, .row1 .text-box{
  float: right;
  width: 50%;
}

.row3 .img-box, .row4 .text-box{
  float:left;
  width: 50%;
}
.row4 .img-box, .row3 .text-box{
  float: right;
  width: 50%;
}
.row5 .img-box, .row6 .text-box{
  float:left;
  width: 50%;
}
.row6 .img-box, .row5 .text-box{
  float: right;
  width: 50%;
}

.row7 .img-box, .row8 .text-box{
    float: left;
    width: 50%;
}

.row8 .img-box, .row7 .text-box{
      float: right;
      width: 50%;   
}
.row .img-box{

  height: 100%;
}
.row .text-box{
  
  padding: 1rem;
}

.row .img-box img{
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.row::after{
  content:"";
  display: block;
  clear: both;
}
 /*###################  Features section styling  ######################################*/

.features{
  padding-bottom: 5rem;
}
.box-wrapper{
  box-shadow: 0px 0px 20px 0px rgb(135, 131, 131);

}
.box{
  width: 33.3333333%;
  float: left;
  padding: 2rem;
  text-align: center;
  
}

.box-1, .box-3{
  background-color: rgb(69, 64, 66);
  color: white;
  height: 130px;
}
 .box-2{
  background-color: rgb(25, 178, 25);
  color: white;
  height: 130px;
 }
.box-wrapper::after{
   content:"";
   display: block;
   clear: both;
}
 /*##################################  Footer Styling  #############################################*/
.footer{
  background: rgb(74, 73, 73);
  color: white;
  padding: 1 rem;
  text-align: center;
  height: 80px;
  
}
.social-media-links i{

  margin: 1rem;
}
 


  /*############### ABOUT PAGE STYLING ##############*/
.about{
  padding: 5rem 0;
}

.about-heading::after{
  content:'';
  display: block;
  border: 1px solid red;
  width: 100%;
}

/*############# ABOUT WRAPPER STYLING ##########3*/

.about-wrapper{
  text-align: center;
  margin-top: 2rem;
}
.about-wrapper .left{
  float: left;
  width: 50%;
}
.about-wrapper .right{
  float: right;
  width: 50%;
}
.about-wrapper::after{
  content:'';
  display: block;
  clear: both;
}

.about-wrapper li::before{
   content: '\2713';
   color: rgb(210, 127, 127);
   font-weight: bold;
   padding-right: 1rem;
}
  
/*########### COUNT STYLING #######*/

.counts{
    margin-top: 3rem;
}

.count-item{
  width: 25%;
  float: left;
  text-align: center;
}

.counts::after{
  content:'';
  display: block;
  clear: both;
}

.count-item span{
  font-size: 1.5rem;
  font-weight: 500;
  color: red;
}

.count-item p{
  font-weight: 400;
  color: rgb(58, 57, 57);
  font-size: 1rem;
}

/*####################### BANNER STYLING ##########*/
.cta-banner{
  background-color: rgb(228, 81, 94);
  padding: 2rem;
  box-shadow: 5px 5px 10px rgb(117, 114, 114);
  margin-top: 3rem;
  
}

.cta-banner-left{
  width: 60%;
  float: left;
  
  
  
}

.cta-banner-right{
 width: 40%;
 float: right;
 text-align: right;
}

.cta-line{
  font-weight: 100;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  color: white;
}

.btn-cta{
  text-align: center;
  display: inline-block;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 0.3rem 2.5rem;
  letter-spacing: 0.5rem;
  color: white;
  border-radius: 3em;
}

  .btn-cta:hover{
    background-color: rgb(111, 100, 100);
   }
  

.cta-banner::after{
  content: '';
  display: block;
  clear:both;
}

/*################## CONTACT PAGE STYLING ################*/
.contact-form{
  padding: 3rem 0;
  
}

.form-wrapper{
  border: 3px solid red;

}

.form-wrapper::after{
  content:'';
  display: block;
  clear:both;
  
}

.form-wrapper.company-address{
  height: 400px;
  background-color:white;
  width: 49%;
  float: left;
  padding: 1rem;
}
.form-wrapper.company-address i{

  display: inline-block;
  margin-left: 1rem;
  font-size: 300px;
  padding: 10px;
  text-decoration: solid red;
  
}

.form-wrapper .address-group h2{
    margin-bottom: 0.5rem;
    padding: 10px;
    
    
}
.form-wrapper .company-address img {
  max-width: 40%;
  min-height: 4rem;
  object-fit: cover;
  object-position:right;
  padding: 0.2rem;
  border: 1px solid blue;
  box-shadow: 0px 0px 10px 0px grey;
  margin: 10px;
  }

  /*######################### FORM STYLING  #######################*/
 .form{
  height: 400px;
  font-size: 1rem;
  background-color: white;
  border: 2px solid rgb(180, 180, 210);
  width: 49%;
  float:left;
  padding: 1rem;
  margin: 10px;
 }
  
.form h1::after{
  content: '';
  display: block;
  border: 1px solid red;
  width: 100%;
}

.form-wrapper .form label{
  display: block;
}

.form-wrapper .form input{
  padding: 0.5rem;
  width: 100%;
}

.form-wrapper .form .form-group{
   margin-bottom: 1.2rem;
}

.form-wrapper .form label::after{
   content: '';
   color: red;
}



.form-btn{

  display: block;
  margin: 0 auto;
  padding: 0.5em 3em;
  font-size: 1rem;
  text-transform: uppercase;
  background: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;

}

/*################# Media Queries #################*/

@media(max-width: 500px)
{
  html{
    font-size: 50%;
  }

.navbar .nav-items, .navbar .logo{
  float:none;
  display:block;
  width:100%;
  text-align:center;
}

.row{
  height: auto;
  width: 100%;
}
.row .img-box,
.row .text-box{
  float:none;
  width: 100%;
  text-align: center;
}
.features .box{
  float:none;
  width: 100%;
  text-align: center;
  box-shadow: 5px 5px 10px rgb(83, 76, 76);
}

.features .box-2,
.features .box-3{
  margin-top: 7rem;
}
.box-wrapper{
  box-shadow:5px 5px 10px rgb(83, 76, 76);
}
.cta-banner-left,
.cta-banner-right{
  float:none;
  width:100%;
  text-align: center;
}
.form-wrapper .company-adress{
  float:none;
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
}
.form-wrapper .form{
  float:none;
  width: 90%;
  height: auto;
}
}

@media(min-width:501px) and (max-width: 768px){
  
    html{
      font-size: 50%;
    }
  p{
    font-size: 1.8rem;
    }
  .navbar .nav-items, .navbar .logo{
    float:none;
    display:block;
    width:100%;
    text-align:center;
  }
  
  .row{
    height: auto;
    width: 100%;
  }
  .row .img-box,
  .row .text-box{
    float:none;
    width: 100%;
    text-align: center;
  }
  .features .box{
    float:none;
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(83, 76, 76);
  }
  
  .features .box-2,
  .features .box-3{
    margin-top: 7rem;
  }
  .box-wrapper{
    box-shadow:5px 5px 10px rgb(83, 76, 76);
  }
  .cta-banner-left,
  .cta-banner-right{
    float:none;
    width:100%;
    text-align: center;
  }
  .form-wrapper .company-adress{
    float:none;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
  }
  .form-wrapper .form{
    float:none;
    width: 90%;
    height: auto;
  }
  }
  


@media(orientation: landscape) and (max-height: 500px){
  .header{
    height: 43vmax;
  }
}












